:root {
    --primary: #6C878D;
    --secondary: #BCB5AA;
    --background: #080808;
    --highlight: #FFF;

    --fw-light: 400;
    --fw-dark: 700;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    list-style: none;
}

body {
    background: var(--background);
    color: var(--highlight);
}

#header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/background-greyscale.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 225px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 20px;
    position: relative
}

.hidden {
    color: var(--secondary);
    visibility:hidden;
    font-weight: var(--dark);
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li:hover .hidden {
    visibility: visible;
}

.header-text {
    color: var(--secondary);
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    color: var(--secondary);
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: .8;
}

.header-text h1 span {
    color:var(--primary)

}

/* -------------- About -------------- */

#about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;

}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    color:  var(--secondary);
    font-size: 60px;
}

.subtitle::after {
    display: block;
    content: "";
    margin-top: 10px;
    border-bottom: 1px solid var(--primary);
}

.about-col-2 p {
    color: var(--secondary);
    margin-top: 40px;
    font-size: 18px;
}
.tab-titles  {
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles {
    color: var(--secondary);
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tab-links {
    color: var(--secondary);
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background:  var(--primary);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.devicon-css3-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-javascript-plain {
    font-size: 72px;
    color: var(--primary)
}

.skills-icons {
    margin-bottom: 30px;
}

.skills-html {
    display: flex;
    flex-direction: column;
}

.tab-contents {
    display: none;
    color: var(--secondary)
}

.tab-contents.active-tab {
    display: block;
}

#experience ul li {
    list-style:circle;
}
#skills ul li {
    list-style:circle;
}
#education ul li {
    list-style:circle;
}

#education ul li span {
    color: var(--primary);
}

/*------------------ Portfolio --------------------------*/

#portfolio {
    padding: 50px 0;
}

#portfolio .container p {
    color: var(--secondary);
    margin-top: 40px;
    font-size: 18px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between ;
}

.work-list .work {
    margin: 10px;
    height: 450px;
    width: 450px;
    position: relative;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),var(--primary));
    position: absolute;
    border-radius: 10px;;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: var(--dark);
    margin-bottom: 20px;
    font-size: 48px;
}

.layer a {
    margin-top: 20px;
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--secondary);
    width: 60px;
    height: 60px;
    border-radius:  50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/*------------------ Contact Me --------------------------*/

.contact-left {
    flex-basis: 35%;

}

.contact-right {
    flex-basis: 60%;
    
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--primary);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--primary);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.contact-right form {
    width: 100%;
    color: black;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--primary);
    padding: 15px;
    margin: 15px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form button {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    background: var(--primary);
    margin-left: 15px;
}

::placeholder {
    color: black;
}

/*------------------ Auto-Typer -------------------------*/

 .text-container {
    width: 100%;
 }

 .text-container h1 {
    font-size: 64px;
    font-weight: 700;
 }

 .auto-type {
    margin-top: 20px;
 }

/*-------------------------------- Media  Query -------------------*/

@media only screen and (max-width: 600px) {
    #header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/background-greyscale-resize.png);
        max-width: 600px;
    }
    
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 p{
        font-size: 16px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    #portfolio .container p {
        font-size: 16px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%
    }
}

#msg {
    color: #61B752;
    margin-left: 20px;
    display: block;
}